[Unit]
Description=Shipping Service
After=network.target

[Service]
User=roboshop
WorkingDirectory=/app

Environment="CART_ENDPOINT=cart.3gb.online:8080"
Environment="DB_HOST=mysql.3gb.online"

Environment="SPRING_DATASOURCE_URL=jdbc:mysql://mysql.3gb.online:3306/cities?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
Environment="SPRING_DATASOURCE_USERNAME=root"
Environment="SPRING_DATASOURCE_PASSWORD=YOUR_DB_PASSWORD"

ExecStart=/bin/java -jar /app/shipping.jar

SyslogIdentifier=shipping
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target