[Unit]
Description=User Service
After=network.target

[Service]
User=roboshop
WorkingDirectory=/app

Environment=MONGO=true
Environment=REDIS_HOST=redis.3gb.online
Environment=MONGO_URL=mongodb://mongodb.3gb.online:27017/users

ExecStart=/bin/node /app/server.js

SyslogIdentifier=user
Restart=on-failure

[Install]
WantedBy=multi-user.target